# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars that might contain secrets (opcional)
# *.tfvars

# Examples
terraform-up-and-running-code/